/*
This is just a test file for making sure the script is working properly.
If it is, the media queries below will change the body's background color depending on the browser width.
For a realistic use case for media queries: read up on Responsive Web Design:
http://www.alistapart.com/articles/responsive-web-design/
*/
body {
  background: black;
  color: #333;
  font-family: Helvetica, sans-serif;
  width: 835px; }

p {
  width: 60%;
  min-width: 18.75em;
  /* 300px @ 16px */
  max-width: 43.75em;
  /* 700px @ 16px */
  margin: 2em auto;
  background: #fff;
  padding: 20px; }

a {
  color: #333; }

/* hide the attribute-test element. test2.css will show it */
#attribute-test {
  display: none; }

/*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */
@media only screen and (min-width: 18.75em) {
  body {
    background: yellow; } }
/*styles for 480px - 620px @ 16px!*/
@media only screen and (min-width: 30em) and (max-width: 38.75em) {
  body {
    background: green; } }
@media screen and (min-width: 38.75em), only print, projector {
  body {
    background: red; } }
/*styles for 800px and up @ 16px!*/
@media screen and (min-width: 50em) {
  body {
    background: blue; } }
/*styles for 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em) {
  body {
    background: orange; } }
/*one with pixels too! */
/* NOTE - if the user were to increase his browser font size to 20px (chrome: Large),
			the above (68.75em) media query will be incorrectly ignored!!!

			Assuming 20px browser setting, we would expect to see this progression:
			yellow > green > red > blue > NAVY > orange

			However, the orange never kicks in... which seems like a browser bug!
			Here's the math (assuming 20px browser setting):
			1200/20 = 60em     <     68.75em
*/
@media screen and (min-width: 1200px) {
  body {
    background: navy; } }
@media only screen and (min-width: 1250px) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 1250px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 1250px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1250px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 1250px) and (min-resolution: 1.5dppx), screen and (min-width: 1250px) {
  body {
    background-color: #f6f6f6;
    width: 835px;
    margin: 30px auto; }
    body .show-social:hover {
      color: red;
      cursor: pointer; }
    body .button {
      background: #8AE6CF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 25px;
      width: 190px;
      padding: 12px;
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      behavior: url(/assets/pie/PIE.htc); }
    body .content-image img {
      width: 398px;
      height: 420px; }
    body .main-block-img {
      float: left;
      clear: both;
      width: 850px;
      margin-top: 10px; }
      body .main-block-img .block-img {
        display: inline-block;
        width: 265px;
        height: 265px;
        padding: 13px 13px 6px 0px;
        position: relative; }
        body .main-block-img .block-img .block-price {
          background: #8AE6CF;
          position: absolute;
          bottom: 30px;
          right: 13px;
          padding: 3px 10px; }
          body .main-block-img .block-img .block-price .real-price {
            text-decoration: line-through; }
          body .main-block-img .block-img .block-price .discount-price {
            color: red;
            padding-left: 10px; }
    body .price-content .real-price {
      text-decoration: line-through; }
    body .price-content .discount-price {
      color: red;
      padding-left: 10px; }
    body .though-none {
      text-decoration: none !important; } }
.tes {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  top: -11px;
  left: 19px;
  border: 2px solid #9ad223;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/*# sourceMappingURL=main.css.map */
